header {
    grid-column: span 12;
    display: flex;
    justify-content: end;
    flex-direction: column;
    background-image: url("/images/Header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    flex-wrap: wrap;
    gap: 4em;

    nav {
        display: flex;
        align-items: center;
        align-self: end;
        gap: 1em;

        ul {
            display: flex;
            gap: 1em;
            list-style: none;

            li {
                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 10px 20px;
                }
            }
        }
    }

    div.slider {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
        flex-flow: row wrap;
        padding: 0px 20px;

        .logo-left {
            padding: 50px;

            img {
                width: 12%;
                height: auto;

            }

            h1 {
                text-align: left;

            }

            h2 {
                text-transform: uppercase;
            }

            .btn {
                background: white;
                color: #343434
            }
        }

        .logo-right {
            position: relative;
            display: flex;
            flex-flow: row wrap;


            div:nth-child(1) {
                width: 10%;
                height: auto;
                align-self: flex-end;
                position: absolute;
                top: 69%;
                left: -23%;
                display: flex;

                img {
                    width: 320%;
                    height: auto;
                }
            }


            div:nth-child(2) img {
                max-width: 80%;
                height: auto;
                align-self: flex-start;
            }

            // img:nth-child(3) {
            //     // position: absolute;
            //     width: 40%;
            //     height: auto;
            //     align-self: flex-end;
            // }

        }
    }
}