header {
    grid-column: span 12;
    background-image: url("/images/Header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style: none;
        padding: 20px;

        ul {
            display: flex;
            gap: 1em;
            list-style: none;

            li {
                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 10px 20px;
                }
            }
        }
        .search{
            padding-right: 20px;
            position: relative;
            input{
                padding: 10px 15px;
                outline: none;
                border-radius: 30px;
                background-color: $primary;
                border: 1px solid $primary;
                &:focus{
                    border: 1px solid purple;
                }
            }
            .search-icon {
                position: absolute;
                right: 30px;
                top: 7px;
                color: $secondary;
                font-size: 1.1em;
            }

        }
    }

    .slider {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        gap: 2em;
        div {
            flex: 1;
        }

        .logo-left {
         padding-right: 1em;
         h2{
             padding-bottom: 25px;
         }
         p{
            width: 450px;
            padding-top: 50px;
         }


        }

        .logo-right {
            position: relative;

            :nth-child(1) {
                width: 80%;
                height: auto;
            }

            :nth-child(2) {
                width: 36%;
                height: auto;
                position: absolute;
                left: -25%;
                top: 67%;
            }

            :nth-child(3) {
                width: 54%;
                height: auto;
                position: absolute;
                left: 0%;
                top: 70%;
            }
        }
    }
}