@media screen and (max-width:750px) {
    nav{
        display: none !important;
    }
    .slider{
        flex-direction: column;
    }
    section:nth-child(3) div:nth-child(2) {
        flex-direction: column;
        gap: 3em;
    }
    .discount-one{
        flex-direction: column;
    }

    section:nth-child(5) .section-paiza .paiza-content p {
        padding: 0 !important;
    }
    .footer-content{
        flex-direction: column;
    }

}