section:nth-child(8) {
    background: #26292C;
    grid-column: span 12;
    color: white;
    text-align: center;
    padding: 50px 0px;
    
    .subscription-header{
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        h1{
            grid-column: span 12;
        }
        img{
            width: 124%;
            position: absolute;
            left: -20%;
            bottom: -101%;
            height: auto;
        };
    }
    



    padding: 0 25%;



    .subscription {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px;
        padding: 50px 0px;
        position: relative;

        input {
            padding: 2% 4%;
            border-radius: 50px;
            font-size: 2vw;
            width: 36vw;
            outline: none;
            border: none;

            &:focus {
                outline: 1px red;
            }
        }

        >a.btn {
            background-color: #54524F;
            color: white;
            padding: 1.7% 4%;
            border-radius: 50px;
            position: absolute;
            right: 0;
            width: 10vw;
            font-size: 2vw;
        }
    }
}