@font-face {
    font-family: Reey-Regular;
    src: url(/fonts/Reey-Regular.otf);
}

.btn {
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
    font-family: Open Sans;
    text-transform: uppercase;
}
$secondary:#26292C;
$primary:#FFFFFF;
$primary-font:'Reey-Regular',sans-serif;

.h1-primary{
    font-family: $primary-font;
    font-weight: 400;
    font-size: 6vw;
    text-transform: capitalize;
    text-align: center;
}
.h1-secondary{
    // font-family: $primary-font;
    font-weight: 400;
    font-size: 6vw;
    text-transform: capitalize;
    text-align: center;
}
h2{
    font-size: 3vw;
}
p{
    font-size: 3.5vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',
        sans-serif;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 16px;
    color: #343434;

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        header {
            grid-column: span 12;
            display: flex;
            justify-content: end;
            flex-direction: column;
            background-image: url("/images/Header-bg.png");
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            flex-wrap: wrap;
            gap: 4em;

            nav {
                display: flex;
                align-items: center;
                align-self: end;
                gap: 1em;

                ul {
                    display: flex;
                    gap: 1em;
                    list-style: none;

                    li {
                        a {
                            color: white;
                            text-decoration: none;
                            text-transform: uppercase;
                            padding: 10px 20px;
                        }
                    }
                }
            }

            div.slider {
                display: grid;
                gap: 1em;
                grid-template-columns: 1fr 1fr;
                flex-flow: row wrap;
                padding: 0px 20px;

                .logo-left {
                    padding: 50px;

                    img {
                        width: 12%;
                        height: auto;

                    }

                    h1 {
                     text-align: left;

                    }

                    h2 {
                        text-transform: uppercase;
                    }

                    .btn {
                        background: white;
                        color: #343434
                    }
                }

                .logo-right {
                    position: relative;
                    display: flex;
                    flex-flow: row wrap;


                    div:nth-child(1) {
                        width: 10%;
                        height: auto;
                        align-self: flex-end;
                        position: absolute;
                        top: 69%;
                        left: -23%;
                        display: flex;

                        img {
                            width: 320%;
                            height: auto;
                        }
                    }


                    div:nth-child(2) img {
                        max-width: 80%;
                        height: auto;
                        align-self: flex-start;
                    }

                    // img:nth-child(3) {
                    //     // position: absolute;
                    //     width: 40%;
                    //     height: auto;
                    //     align-self: flex-end;
                    // }

                }
            }
        }

        section:nth-child(2) {
            background: white;
            grid-column: span 12;
            text-align: center;
            padding: 0px 20px;


            >p {
                
                padding: 0 25%;
                text-align: center;
            }

            div {
                display: flex;
                gap: 6em;
                flex-flow: row wrap;
                flex-basis: 0;
                justify-content: space-evenly;

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    padding: 0px 20px;

                    img {
                        width: 400px;
                        height: auto;
                        -webkit-filter: drop-shadow(5px 5px 5px #222);
                        filter: drop-shadow(5px 10px 10px #222);
                    }

                    h2 {
                        font-family: Open Sans;
                        font-weight: 600;
                        
                        align-self: flex-start;
                        margin: 0;
                    }

                    p {
                        
                        text-align: left;
                    }
                }
            }

            .button2 {
                padding: 40px 0px;

                a.btn {

                    background-color: #343434;
                    color: white;
                    font-weight: 700;
                    font-size: 1.6vw;

                }
            }



        }

        section:nth-child(3) {
            background: $secondary;
            grid-column: span 12;
            color: $primary ;
            padding: 6em;
            
      
           div:nth-child(2){
                display: flex;
                gap: 3em;
            }
        }

        section:nth-child(4) {
            background: $primary;
            grid-column: span 12;
            padding: 20px 20px;
            .discount{
                padding: 68px;
                display: flex;
                flex-direction: column;
             
                .discount-one{
                    display: flex;
                    gap: 5em;
                    padding-bottom: 3em;
                    align-items: center;
                    justify-content: space-between;
                    &:nth-child(1){
                        
                    }
                    div{
                        flex: 1;
                    }
                    .content-discount{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            align-items: flex-start;
                        h2{
                            font-family: Open Sans;
                            font-weight: 900;
                            
                        }
                        a.btn{
                            background-color: $secondary;
                            color: $primary;
                            margin-top: 30px;
                        }
                    }
                
                    img{
                        width: 80%;
                        height: auto;
                        filter: drop-shadow(5px 10px 10px #222);
                    }
                    .images {
                        display: flex;
                        justify-content: center;
                    }
                }
             
            }
        }

        section:nth-child(5) {
            grid-column: span 12;
            background-image: url("/images/Header-bg.png");
            background-size: cover;
            background-repeat: no-repeat;
            color: $primary;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: relative;
            height: 60em;            
            .h1-primary{
                font-size: 3vw;
                padding: 20px 0px;
            }
            p{
                padding: 5% 15%;
            }
            .pitza{
                content: "";
                position: absolute;
                
                top: 250px;
                img{
                     width: 50%;
                     height: auto;
                     transform: rotate(130deg);
                     
                 }
            }
                
                
            
         
        }

        section:nth-child(6) {
            background: purple;
            grid-column: span 12;
        }

        section:nth-child(7) {
            background: black;
            grid-column: span 12;
        }

        section:nth-child(8) {
            background: #26292C;
            grid-column: span 12;
            color: white;
            text-align: center;
            padding: 50px 0px;

          

            padding: 0 25%;

          

            .subscription {
                display: flex;
                flex-direction: column;
                align-items: center;
                input {
                    position: relative;
                    padding: 2% 4%;
                    border-radius: 50px;
                    font-size: 1.5em;
                    width: 70%;
                    outline: none;
                    &:focus{
                        outline: 1px red;
                    }
                }

                >a.btn {
                    background-color: #54524F;
                    color: white;
                    padding: 1% 4%;
                    border-radius: 50px;
                    position: absolute;
                    right: 26%;
                }
            }
        }

        footer:nth-child(9) {
            background: #FEFEFE;
            color: #848484;
            grid-column: span 12;
        }
    }


}

@media screen and (max-width:750px) {
    body {
        
        .container {
            header {
                nav {
                    ul {
                        display: none;
                    }
                }

                div.slider {
                    grid: inherit;

                    .logo-left {}

                    .logo-right {
                        div:nth-child(1) {
                            width: 15%;
                            height: auto;
                            align-self: flex-end;
                        }

                        div:nth-child(2) {
                            width: 100%;
                            height: auto;

                        }
                    }
                }


            }

        }
        section:nth-child(2) div .content h2{
            font-size: 5vw;
        }
        section:nth-child(3) {
            padding: 3em;
           div:nth-child(2){
                display: flex;
                gap: 3em;
                flex-flow: row wrap;
            }
        }
        section:nth-child(4) {
            .discount{
                .discount-one {
                    flex-flow: column-reverse;
                    h2{
                        font-size: 6vh;
                    }
                }
            } 
          
        }
        section:nth-child(5) {
            height: 50em !important;
           .pitza{
              
               top: 0px !important;
           }
        }

        section:nth-child(8) {
            .subscription{
               input{
                   
                  
               }
               >a.btn{
                position: inherit;
                margin: 43px 0px;
            }
            }
        }
  
    }

}