
@font-face {
    font-family: Reey-Regular;
    src: url(/fonts/Reey-Regular.otf);
}

.btn {
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
    font-family: Open Sans;
    text-transform: uppercase;
}

$secondary:#26292C;
$primary:#FFFFFF;
$primary-font:'Reey-Regular',sans-serif;

.h1-primary {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 6vw;
    text-transform: capitalize;
    text-align: center;
}

.h1-secondary {
    // font-family: $primary-font;
    font-weight: 400;
    font-size: 6vw;
    text-transform: capitalize;
    text-align: center;
}

h2 {
    font-size: 3vw;
}

p {
    font-size: 2.5vh;
}





            